---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the skilled and experienced team behind our successful digital marketing strategies";

// Team images
import cn from "../../assets/team/chas-nelson.jpg";
import gr from "../../assets/team/gunnar-ro.jpg";
import jb from "../../assets/team/jonathan-berry.jpg";
import js from "../../assets/team/jyri-soppela.jpg";
import mk from "../../assets/team/mix-kundegorski.jpg";
import ta from "../../assets/team/toavina-andriamihaingo.jpg";
import ts from "../../assets/team/tomasz-sabala.jpg";

const team = [
  {
    pic: cn,
    name: "John Smith",
    role: "CEO and Founder",
    description:
      "10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy",
    link: "https://linkedin.com",
  },
  {
    pic: gr,
    name: "Jane Doe",
    role: "Director of Operations",
    description:
      "7+ years of experience in project management and team leadership. Strong organizational and communication skills",
    link: "https://linkedin.com",
  },
  {
    pic: jb,
    name: "Michael Brown",
    role: "Senior SEO Specialist",
    description:
      "5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization",
    link: "https://linkedin.com",
  },
  {
    pic: js,
    name: "Emily Johnson",
    role: "PPC Manager",
    description:
      "3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis",
    link: "https://linkedin.com",
  },
  {
    pic: mk,
    name: "Brian Williams",
    role: "Social Media Specialist",
    description:
      "4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement",
    link: "https://linkedin.com",
  },
  {
    pic: ta,
    name: "Sarah Kim",
    role: "Content Creator",
    description:
      "2+ years of experience in writing and editing. Skilled in creating compelling, SEO-optimized content for various industries",
    link: "https://linkedin.com",
  },
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>
