---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the skilled and experienced team behind our successful digital marketing strategies";

// Team images
import cn from "../../assets/team/chas-nelson.jpg";
import jh from "../../assets/team/john-haskew.jpg";
import mk from "../../assets/team/mix-kundegorski.jpg";

const team = [
  {
    pic: cn,
    name: "Dr Chas Nelson",
    role: "Data & AI Strategist",
    description:
      "10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy",
    link: "https://www.linkedin.com/in/chasnelson1990/",
  },
  {
    pic: mk,
    name: "Dr Mix Kundegorski",
    role: "Health Informatics Specialist",
    description:
      "4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement",
    link: "https://www.linkedin.com/in/mix-kundegorski-01988865/",
  },
  {
    pic: jh,
    name: "Dr John Haskew",
    role: "AI & Public Health Expert",
    description:
      "2+ years of experience in writing and editing. Skilled in creating compelling, SEO-optimized content for various industries",
  },
];
---

<Section id="team">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 grid-rows-2 gap-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="mt-10 flex justify-end">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>
