---
import { splitTitle } from "../../utils/splitTitle";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

import gob from "../../assets/arrow-dark.svg";
import wob from "../../assets/arrow-white.svg";

/* 
1. Gray card with green title and green on black icon 
2. Green card with gray title and green on black icon
3. Black card with gray title and gray on black icon
*/

const { service } = Astro.props;

interface Props {
  service: CollectionEntry<"services">;
}
---

<Card isUnderline={false}>
  <a
    href={"/fjelltopp-astro/services/" + service.id}
    class="flex items-center gap-3.5"
  >
    <div
      class="bg-gray flex justify-between items-center h-[150px] w-full rounded-[45px] p-8 gap-[60px]"
    >
      <h3 class=`flex items-center flex-col col-span-2 lg:col-span-1`>
        <span
          class=`text-nowrap w-[fit-content] ${service.data.order % 3 === 1 ? 'greenhead' : service.data.order % 3 === 2 ? 'whitehead' : 'blackhead'}`
          >{splitTitle(service.data.title)[0]}</span
        >
        <span
          class=`text-nowrap w-[fit-content] ${service.data.order % 3 === 1 ? 'greenhead' : service.data.order % 3 === 2 ? 'whitehead' : 'blackhead'}`
          >{splitTitle(service.data.title)[1]}</span
        >
      </h3>
      <picture
        class="order-1 row-span-1 flex h-full w-full items-center justify-center lg:order-none lg:row-span-2"
      >
        <Image
          src={service.data.image}
          alt={service.data.alt}
          class="max-h-[100px] w-auto object-cover sm:h-auto sm:w-3/4 sm:object-contain"
        />
      </picture>
    </div>
  </a>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
